<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">
    <img src="img/header-bg.png" style="display:none">
    <img src="img/mac_store_us.svg" style="display:none">
    <header class="index top-header">
      <nav class="navbar navbar-default navbar-fixed-top site-nav">
        {% include home_nav.html %}
      </nav>
      <div class="container">
          <div class="header-icon"><img src="img/icon-bk.png"></div>

          <div class="intro-text">
             <div class="row">
              <div class="col-lg-6 col-md-6 text-center">
                    <div style="background: url(img/ios_store_us.svg);background-size: 232px 56px;width: 232px;height: 56px;" class="center-block">
                      <a href="{{ site.ios_app_store_url }}" class="appstore"></a>
                    </div>
                    <div class="getlink"><a href="{{ site.ios_app_store_url }}" class="appstorelink">Free Get for iPhone and iPad</a></div>
                    <div><span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="In-App Purchases only US$3.99">In-App Purchase</span></div>
                </div>

                <div class="col-lg-6 col-md-6 text-center mac-purchase">
                    <div style="background: url(img/mac_store_us.svg);background-size: 232px 56px;width: 232px;height: 56px;" class="center-block">
                      <a href="{{ site.osx_app_store_url }}" class="appstore"></a>
                    </div>
                    <div class="getlink"><a href="{{ site.osx_app_store_url }}" class="appstorelink">Free Get for Mac</a></div>
                    <div><span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="In-App Purchases US$24.99">In-App Purchase</span></div>
                </div>
              </div>
              <div class="row"><br/></div>
          </div>
      </div>
    </header>

    {{ content }}

    {% include footer.html %}
    <script type="text/javascript">
     $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>

</html>
